{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says....</h1>
    {% if user.is_authenticated %}
        <div>Hey, there {{ user.username }}!</div>
    {% else %}
        <div>Hey, there partner!</div>
    {% endif %}

    <div>
        {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <h3>There are no categories present</h3>
        {% endif %}
    </div>
    {% if visits %}
        <p>visits: {{ visits }}</p>
    {% endif %}
    <div>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else  %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}