{% extends 'rango/base.html' %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <div>
        <form class='form-inline' id='user-form' method='post' action="{% url 'show_category' category.slug %}">
                {% csrf_token %}
                <div class='input-group'>
                    <input class='form-control' type='text' size='50' name='query' value='{{ query }}' id='query'/>
                </div>
            &nbsp; <button class='btn btn-primary' type='submit' name='submit' value='Search'>Search</button>
        </form><br/>
    </div>
    <div>
        {% if result_list %}
            <h3>Results</h3>
            <div class="list-group">
                {% for result in result_list %}
                 <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                    {% if result.title %}
                        <a href="{{ result.url }}" id='data'>{{ result.title }}</a></h4>
                    {% else %}
                        <a href="{{ result.url }}" id='data'>No title!</a></h4>
                    {% endif %}
                    <p class="list-group-item-text" id='result-text'>{{ result.text }}</p> 
                    <p><button class='btn btn-primary add_page' type='submit' name='add' value='Add Page to Category' data-title="{{ result.title }}" data-url='{{ result.url }}' data-cat="{{ category.slug }}">Add Page</button></p>
                </div>        
                {% endfor %} 
            </div>
        {% endif %}
    </div>
    <div>
        {% if category %}
            {{category.name}}

            {% if pages %}
                <ul>
                    {% for page in pages %}
                        <li><a href="{% url 'goto'%}?pageid={{ page.id }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>No pages currently</strong>
            {% endif %}
            <a href="{% url 'add_page' category.slug %}">Add Page</a>
        {% else %}
            <strong>The specified content doesnot exist!</strong>
        {% endif %}
    </div>
    <div>
        <p>
            <p><strong id='like_count'>{{ category.likes }} </strong> people like this category</p>
            {% if user.is_authenticated %}
                <button id='likes' data-catid='{{ category.id }}' class='btn btn-primary' type='button'>
                    <span class='glyphicon glyphicon-thumbs-up'></span>Like
                </button>
            {% endif %}
        </p>
    </div>
{% endblock %}