{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Rango
{% endblock %}

{% block body_block %}
<div class='jumbotron'>
    <h1 class='display-3'>Rango says....</h1>
    {% if user.is_authenticated %}
        <div>Hey, there {{ user.username }}!</div>
    {% else %}
        <div>Hey, there partner!</div>
    {% endif %}
</div>
<div class='row marketing'>
    <div class='col-lg-6'>
        <h4>Most liked categories</h4>
        <p>
            {% if categories %}
            <ul class='list-group'>
                {% for category in categories %}
                    <li class='list-group-item'><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present</strong>
            {% endif %}
        </p>
    </div>
    <div class='col-lg-6'>
        <h4>Most viewed pages</h4>
        <p>
            {% if pages %}
                <ul class='list-unstyled'>
                    {% for page in pages %}
                        <li class='list-group-item'><a href='{{ page.url }}'>{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no pages present</strong>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}